In [5]:
#import libraries
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [7]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df.head(10)

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164
5   28    46.0       0  Biryani      174
6   27    64.3       0  Biryani      151
7   34    98.0       1  Biryani    176.5
8   32    87.5       1  Biryani      181
9   22    80.0       1  Biryani    184.5

In [9]:
#Selection input and output variables
X = df[["weight", "gender"]]
y = df["likeness"]

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1
0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [10]:
print(X.head())

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [11]:
print(y.head())

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [15]:
#Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

#create and fit model
model = DecisionTreeClassifier().fit(X, y)

#Predition
model.predict([[23, 1]])

c:\Users\M. Usman\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [19]:
#how to measure the accuracy of our model
#Split data into test and train
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #80%training data and 20% testing data

#Create a model
model = DecisionTreeClassifier()

#fitting a model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values


#checking score
#y_test = actuall values
score = accuracy_score(y_test, predicted_values)
score

0.6122448979591837

In [21]:
#how to tairn and save model

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

In [22]:
model = DecisionTreeClassifier().fit(X, y)
joblib.dump(model, "foodie.joblib")

['foodie.joblib']

In [26]:
#how to run/import a stored or saved model on our data? Assigment

In [28]:
#Graph
from sklearn import tree

model = DecisionTreeClassifier().fit(X, y)
#Graphic evaluation/ ook into what happend
tree.export_graphviz(model,
                    out_file= "foodie.dot",
                    feature_names= ['age', 'gender'],
                    class_names= sorted(y.unique()),
                    label= 'all',
                    rounded= True,
                    filled= True)